a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 14px 25px;
    text-align: left; 
    text-decoration: snow; 
    display: inline-block;
}

a:hover, a:active {
    background-color: transparent;
}