<md-card>
	<h1>Welcome 2 Observable</h1>
</md-card>
<br/>
<md-card>
	<md-list>
		<md-list-item>
			<div md-button [routerLink]="['../observable-intro-data-over-time']">
				<h2>1 - Observable: intro: data-over-time</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-intro-data-over-time-with-cancel']">
				<h2>2 - Observable: intro: data-over-time-with-cancel</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-intro-data-over-time-pineline']">
				<h2>3 - Observable-intro: data-over-time-pineline</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-from-event']">
				<h2>4 - Observable: from-event</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-from-event-more']">
				<h2>5 -Observable: from-event-more</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-from-event-text']">
				<h2>6 -observable-from-event-text</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-from-event-text-more']">
				<h2>7 - Observable: from-event-text-more</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-from-event-text-relax']">
				<h2>8 -Observable: from-event-text-relax</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../observable-from-event-text-fun']">
				<h2>9 - Observable: from-event-text-fun</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../drag-drop']">
				<h2>10 - Drag Drop</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../clothing-into-array']">
				<h2>11 - Clothing (into array)</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../clothing-aggregation']">
				<h2>12 - Clothing (aggregation)</h2>
			</div>
		</md-list-item>
		<md-list-item>
			<div md-button [routerLink]="['../websocket']">
				<h2>13 - Websocket logging</h2>
			</div>
		</md-list-item>
	</md-list>
</md-card>
<br/>
<md-card>
	<a target="_blank" href="http://reactivex.io/rxjs/">
	rxJs Home
	</a>
	<br/>
	<a target="_blank" href="https://github.com/Reactive-Extensions/RxJS/tree/master/doc/api/core/operators">
	rxJs Operators
	</a>
	<br/>
	<a target="_blank" href="https://github.com/angular/angular-cli">
	NG2 CLI
	</a>
	<br/>
	<a target="_blank" href="https://github.com/angular/material2">
	Material 2
	</a>
	<br/>
	<a target="_blank" href="http://rx-israel-intro-meetup.surge.sh/#/10?_k=coasvo">
	Meetup
	</a>
	<br/>
	<a target="_blank" href="https://egghead.io/courses/mastering-asynchronous-programming-the-end-of-the-loop">
	Video lessons</a>
	<br/>
	<a target="_blank" href="http://blog.angular-university.io/functional-reactive-programming-for-angular-2-developers-rxjs-and-observables/">
	Functional Rx for NG2
	</a>
	<br/>
	<a target="_blank" href="https://medium.com/@lwojciechowski/websockets-with-angular2-and-rxjs-8b6c5be02fac#.ihuekso9d">
	Rx Web Socket
	</a>
	<br/>
	<a target="_blank" href="http://stackoverflow.com/questions/40215416/how-do-i-register-for-keyup-event-using-ng2-reactive-forms">
	Subject from Event
	</a>
</md-card>
<br/>